<p-divider align="center">
    <i class="pi pi-user p-mr-2"></i>
        <b>  About me</b>
</p-divider>

<p-fieldset legend="Info">
    Hi there, <br>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
</p-fieldset>


<p-divider align="center">
    <i class="pi pi-calendar p-mr-2"></i>
        <b>  My Timeline</b>
</p-divider>

<div>
    <p-timeline [value]="events2" layout="horizontal" align="alternate">
        <ng-template pTemplate="content" let-event>
            &#123;&#123;event&#125;&#125;
        </ng-template>
        <ng-template pTemplate="opposite" let-event>
            &nbsp;
        </ng-template>
    </p-timeline>
</div>

<p-divider align="center">
    <i class="pi pi-calendar p-mr-2"></i>
        <b>  Date</b>
</p-divider>

<div>
    <p-calendar [(ngModel)]="date" [inline]="true" [showWeek]="true"></p-calendar>
</div>
