<p-divider align="center">
    <i class="pi pi-user p-mr-2"></i>
        <b>  My Timeline</b>
</p-divider>

<div>
    <p-timeline [value]="events2" layout="horizontal" align="alternate">
        <ng-template pTemplate="content" let-event>
            &#123;&#123;event&#125;&#125;
        </ng-template>
        <ng-template pTemplate="opposite" let-event>
            &nbsp;
        </ng-template>
    </p-timeline>
</div>

<p-divider align="center">
    <i class="pi pi-user p-mr-2"></i>
        <b>  Date</b>
</p-divider>

<div>
    <p-calendar [(ngModel)]="date" [inline]="true" [showWeek]="true"></p-calendar>
</div>
